repo/change/src_native/assets/schema/aw-cm-derive-relation-panel.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsB="decl-schema-common"  >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-cm-derive-relation-panel">
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="relation-name" type="declUI:string" use="required"/>
      <declUI:attribute name="propagate-all-relation" type="declUI:string" use="required"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>