repo/social/src_native/assets/schema/aw-social-ratings.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsB="decl-schema-common"  >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-social-ratings">
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="ratings" type="declUI:string" use="required"/>
      <declUI:attribute name="is-editable" type="declUI:boolean" use="required"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>
