repo/classification/src_native/assets/schema/aw-cls-fullview-classheader.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsB="decl-schema-common"  >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-cls-fullview-classheader">
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="caption" type="declUI:string" use="optional"/>
      <declUI:attribute name="action" type="declUI:string" use="optional"/>
      <declUI:attribute name="expansionstate" type="declUI:string" use="required"/>
      <declUI:attribute name="clickaction" type="declUI:string" use="optional"/>
      <declUI:attribute name="keyword" type="declUI:string" use="optional"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>
