repo/workinstr-common/src_native/assets/schema/workinstr-overview-panel.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsB="decl-schema-common" >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="workinstr-overview-panel">
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="overview-commands" type="declUI:string" use="optional"/>
      <declUI:attribute name="finished-initial-load" type="declUI:string" use="required"/>
      <declUI:attribute name="graph-model" type="declUI:string" use="required"/>
      <declUI:attribute name="display-graph" type="declUI:string" use="required"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>
