repo/workinstr-common/src_native/assets/schema/workinstr-tabs-container.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsB="decl-schema-common" >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="workinstr-tabs-container">
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="tabs" type="declUI:string" use="required"/>
      <declUI:attribute name="selected-tab" type="declUI:string" use="optional"/>
      <declUI:attribute name="all-empty" type="declUI:string" use="optional"/>
      <declUI:attribute name="filtered-tabs" type="declUI:string" use="required"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>
