repo/search/src_native/assets/schema/aw-search.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsB="decl-schema-common"  >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-search">
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="prop" type="declUI:string" use="required"/>
      <declUI:attribute name="show-suggestions" type="declUI:string" use="required"/>
      <declUI:attribute name="suggestion-action" type="declUI:string" use="required"/>
      <declUI:attribute name="show-popup" type="declUI:string" use="required"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>