repo/search/src_native/assets/schema/aw-search-global.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsB="decl-schema-common"  >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-search-global">
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="search-prop" type="declUI:string" use="required"/>
      <declUI:attribute name="show-suggestions" type="declUI:string" use="optional"/>
      <declUI:attribute name="suggestion-action" type="declUI:string" use="optional"/>
      <declUI:attribute name="prefilter1-provider" type="declUI:string" use="optional"/>
      <declUI:attribute name="prefilter1" type="declUI:string" use="optional"/>
      <declUI:attribute name="prefilter2" type="declUI:string" use="optional"/>
      <declUI:attribute name="prefilter2-provider" type="declUI:string" use="optional"/>
      <declUI:attribute name="advanced-search-prop" type="declUI:string" use="optional"/>
      <declUI:attribute name="action" type="declUI:string" use="optional"/>
      <declUI:attribute name="show-popup" type="declUI:string" use="optional"/>
      <declUI:attribute name="title" type="declUI:string" use="optional"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>