repo/tc-aw-framework/src_native/assets/schema/aw-advanced-bar.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified"  xmlns:xsB="decl-schema-common" >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-advanced-bar">
    <declUI:complexType>
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="type" type="declUI:string"/>
      <declUI:attribute name="orientation" type="declUI:string" use="optional"/>
      <declUI:attribute name="negative" type="declUI:string" use="optional"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>
