repo/tc-aw-framework/src_native/assets/schema/aw-history.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified"  xmlns:xsB="decl-schema-common" >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-history">
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="filter-types" type="declUI:string" use="optional"/>
      <declUI:attribute name="max-length" type="declUI:integer" use="optional"/>
      <declUI:attribute name="selection-mode" type="declUI:string" use="optional"/>
      <declUI:attribute name="is-include-sub-types" type="declUI:string" use="optional"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>