repo/tc-aw-framework/src_native/assets/schema/aw-matrix-rowheader.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsB="decl-schema-common" >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-matrix-rowheader">
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="commands" type="declUI:string" use="required"/>
      <declUI:attribute name="prop" type="declUI:string" use="required"/>
      <declUI:attribute name="vmo" type="declUI:string" use="optional"/>
      <declUI:attribute name="row" type="declUI:string" use="optional"/>
      <declUI:attribute name="rowindex" type="declUI:string" use="optional"/>
      <declUI:attribute name="colindex" type="declUI:string" use="optional"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>
