repo/tc-aw-framework/src_native/assets/schema/aw-model-thumbnail.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified"  xmlns:xsB="decl-schema-common" >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-model-thumbnail">
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="vmo" type="declUI:string" use="required"/>
      <declUI:attribute name="image-ticket" type="declUI:string" use="optional"/>
      <declUI:anyAttribute processContents="lax"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>