repo/tc-aw-framework/src_native/assets/schema/aw-partial-error.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsB="decl-schema-common"  >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-partial-error">
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="partial-error" type="declUI:string" use="required"/>
      <declUI:attribute name="message" type="declUI:string" use="required"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>