repo/tc-aw-framework/src_native/assets/schema/aw-xrt.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified"  xmlns:xsB="decl-schema-common" >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-xrt">
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="type" type="declUI:string" use="optional"/>
      <declUI:attribute name="object-type" type="declUI:string" use="optional"/>
      <declUI:attribute name="target-page" type="declUI:string" use="optional"/>
      <declUI:attribute name="vmo" type="declUI:string" use="optional"/>
      <declUI:attribute name="include-tabs" type="declUI:string" use="optional"/>
      <declUI:attribute name="view-model" type="declUI:string" use="optional"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>
