repo/architectureModeler/src_native/assets/schema/aw-xrt-splitter.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsB="decl-schema-common" >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-xrt-splitter">
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="name" type="declUI:string" use="optional"/>
      <declUI:attribute name="min-size1" type="declUI:string" use="optional"/>
      <declUI:attribute name="min-size2" type="declUI:string" use="optional"/>
      <declUI:attribute name="direction" type="declUI:string" use="optional"/>
      <declUI:attribute name="selector" type="declUI:string" use="optional"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>